* {
  box-sizing: border-box;
  /* background-color: rgb(244, 244, 244); */
  color: #333;
  font-size: 10px;
  /* background-image: url('https://pix10.agoda.net/hotelImages/186782/-1/d767492a24b0547a44db71f806e03d1d.jpg?s=1024x768'); */
  background-repeat: no-repeat;
}

.App {
  margin: 0;
  padding: 0;
  
}

.container {
  margin: 0 auto;
  padding: 40px;
}

.title {
  font-size: 4.4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

