.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em 1em;
    z-index: 999999;
    box-sizing: border-box;
  }
  
  .modal.modal-fade {
    animation: fade-in 1s 1 linear;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  .modal > .modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .modal > .modal-close {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #5e5e5e;
    cursor: pointer;
    font-size: 1.25em;
    padding: 7px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #c3c0c0;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
  }
  
  .modal > .modal-close:hover {
    background: rgba(255, 255, 255, 0.7);
  }
  
  .modal > .modal-body {
    z-index: 2;
    position: relative;
    margin: 0 auto;
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
    padding: 15px 20px;
    color: #c3c0c0;
  }
  
  .card-modal-header{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .card-modal-header img{
    border-radius: 50%;
  }

  .card-modal-header span{
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
  }

  .card-modal-image img{
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    max-height: 800px;
  }

  .card-modal-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .card-modal-footer span{
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
  }

  @keyframes fade-in {
    0% {
      animation-timing-function: cubic-bezier(0.2242, 0.7499, 0.3142, 0.8148);
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }