.form {
    display: flex;
  }
  
  .input {
    flex: 1;
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    line-height: 2.8rem;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 1rem;
  }
  
  .button {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 1rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 250ms;
  }
  
  .button:hover {
    background-color: rgba(0, 0, 0, 0.85);
  }
  
  .image-card{
    width:100%
  }

  .cards-list {
    flex:1;
    overflow: scroll;
    height: 1000px;
  }

  .cards-list::-webkit-scrollbar{
    display: none;
}

.cards-list{
    -ms-overflow-style: none; /*IE & Edge */
    scrollbar-width: none; /*Firefox */
}

